---
import ImgWrap from 'src/components/basic/ImgWrap.astro';
import Layout from '../layouts/Layout.astro';

const cases = [
						{
							src: "img/case_1.jpg",
							caseSrc: "img/case-studies/action-water.jpg",
							stack: "Swarm + Sampling + Retargeting",
							name: "Action Water",
							desc: "On-car projection + car wrap + product sampling at Cal USC Game.",
							drawer: "action-water",
						},
						{
							src: "img/case_3.jpg",
							caseSrc: "img/case-studies/duracell.jpg",
							stack: "Swarm + Sampling + Retargeting",
							name: "Duracell",
							desc: "Adway’s advanced tech at the Grand  Prix Formula 1 in Miami.",
							drawer: "duracell",
						},
						{
							src: "img/case_2.jpg",
							caseSrc: "img/case-studies/go-puff.jpg",
							stack: "VIP Rides + Swarm",
							name: "GoPuff",
							desc: "Campaign concept to launch in Miami in less than 48 hours.",
							drawer: "go-puff",
						},
						{
							src: "img/case_4.jpg",
							caseSrc: "img/case-studies/titos-vodka.jpg",
							stack: "Sustainable Swarm",
							name: "Tito's Vodka",
							desc: "Advertising the right audience at the  right time.",
							drawer: "titos-vodka",
						},
						{
							src: "img/case_2.png",
							caseSrc: "img/case-studies/jp-morgan-chase.jpg",
							stack: "Swarm + Staging",
							name: "JP Morgan Chase",
							desc: "Conference swarm coverage amplified brand presence throughout Las Vegas.",
							drawer: "morgan-chase",
						},
						{
							src: "img/case_1.JPEG",
							caseSrc: "img/case-studies/black-adam-premier.jpg",
							stack: "Awareness + Swarm",
							name: "Warner Brothers",
							desc: "Adway amplified the premier of Black Adam through strategic geo-fencing.",
							drawer: "warner-brothers",
						},
						{
							src: "img/case_5.jpg",
							caseSrc: "img/case-studies/templeton.jpg",
							stack: "Swarm",
							name: "Templeton Rye",
							desc: "ADWAY swarmed MLB season opening at Padres’ game.",
							drawer: "templeton-rye",
						},
						{
							src: "img/case_1.png",
							caseSrc: "img/case-studies/homes-in-la.jpg",
							stack: "Awareness + Retargeting",
							name: "Homes in LA",
							desc: "Making an impact in targeted Los Angeles  neighborhoods.",
							drawer: "homes-in-la",
						},
					];
const medias = [
	{
		href: "https://ktla.com/morning-news/technology/adway-digital-advertising-car-projectors-earn-extra-money-ride-share/",
		src: "img/media_KTLA.jpg",
		title: "KTLA5"
	},
	{
		href: "https://oohtoday.com/adway-secures-6m-in-funding-for-street-level-media-platform/",
		src: "img/media-1.png",
		title: "Markets Insider"
	},
	{
		href: "https://www.latechwatch.com/2021/07/adway-mobility-vehicle-advertising-projection-network-sasha-krylov/",
		src: "img/media-2.png",
		title: "LA Tech Watch"
	},
	{
		href: "https://markets.businessinsider.com/news/stocks/adway-secures-6m-in-seed-funding-to-help-build-out-patented-street-level-media-platform-1030630602",
		src: "img/media-3.png",
		title: "OOH Today"
	}
]
---

<Layout title="Boilerplate" description="Boilerplate">
	<section class="hero">
		<video autoplay="autoPlay" loop="loop" muted="muted" playsinline="playsInline" class="hero__bg">
			<source src="https://e9d05c5fa9.imgdist.com/pub/bfra/k2vo936e/fzf/ny1/b9y/Test%20for%20website.mp4" type="video/mp4">
		</video>
	</section>
	<section class="main-actions">
		<div class="main-actions__wrap">
			<div class="container container_wide main-actions__container">
				<div class="main-actions__sub-wrap">
					<a href="https://portal.adwayusa.com/signupadvertiser" class="btn btn_primary">Sign Up as Advertiser</a>
					<a href="https://portal.adwayusa.com/signupdriver" class="btn btn_primary">Sign Up as Driver</a>
				</div>
			</div>
		</div>
	</section>
	<section class="why-adway section-space">
		<div class="container container_wide">
			<h2 class="tg-section-title tg-section-title_margin why-adway__title">Why customers choose Adway:</h2>
			<div class="advances">
				<div class="advances__msg">Adway's patented technology stack brings DOOH into the future.</div>
				<div class="advances__list">
					<div class="advances-card">
						<div class="advances-card__title">4X</div>
						<div class="advances-card__desc">higher recall than all other mobile billboards.</div>
					</div>
					<div class="advances-card">
						<div class="advances-card__title">90+ MILES PER DRIVER PER DAY</div>
						<div class="advances-card__desc">driven by an average Adway driver.</div>
					</div>
					<div class="advances-card">
						<div class="advances-card__title">REAL-TIME DATA</div>
						<div class="advances-card__desc">Bluetooth impressions and other campaign data.</div>
					</div>
					<div class="advances-card">
						<div class="advances-card__title">1 / 7 TH</div>
						<div class="advances-card__desc">of competitor’s carbon footprint.</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="trusted-by section-space">
		<div class="container container_wide">
			<h2 class="tg-section-title tg-section-title_margin trusted-by__title">Trusted by:</h2>
		</div>
		<div id="trusted-by" class="trusted-by__list-container">
			<div class="trusted-by__list-wrap">
				<div class="trusted-by__list">
					<div class="trusted-by__item trusted-by__item_md">
						<img alt="Logo" class="trusted-by__logo" src="img/Estee_Lauder_Logo.jpg">
					</div>
					<div class="trusted-by__item">
						<img alt="Logo" class="trusted-by__logo" src="img/duracell.png">
					</div>
					<div class="trusted-by__item">
						<img alt="Logo" class="trusted-by__logo" src="img/Webex_logo.jpg">
					</div>
					<div class="trusted-by__item trusted-by__item_md">
						<img alt="Logo" class="trusted-by__logo" src="img/gopuff.png">
					</div>
					<div class="trusted-by__item">
						<img alt="Logo" class="trusted-by__logo" src="img/Medialink_Logo.jpg">
					</div>
					<div class="trusted-by__item trusted-by__item_esm">
						<img alt="Logo" class="trusted-by__logo" src="img/wb-logo.png">
					</div>
					<div class="trusted-by__item trusted-by__item_md">
						<img alt="Logo" class="trusted-by__logo" src="img/Estee_Lauder_Logo.jpg">
					</div>
					<div class="trusted-by__item">
						<img alt="Logo" class="trusted-by__logo" src="img/duracell.png">
					</div>
					<div class="trusted-by__item">
						<img alt="Logo" class="trusted-by__logo" src="img/Webex_logo.jpg">
					</div>
					<div class="trusted-by__item trusted-by__item_md">
						<img alt="Logo" class="trusted-by__logo" src="img/gopuff.png">
					</div>
					<div class="trusted-by__item">
						<img alt="Logo" class="trusted-by__logo" src="img/Medialink_Logo.jpg">
					</div>
					<div class="trusted-by__item trusted-by__item_esm">
						<img alt="Logo" class="trusted-by__logo" src="img/wb-logo.png">
					</div>
					<div class="trusted-by__item trusted-by__item_md">
						<img alt="Logo" class="trusted-by__logo" src="img/Estee_Lauder_Logo.jpg">
					</div>
					<div class="trusted-by__item">
						<img alt="Logo" class="trusted-by__logo" src="img/duracell.png">
					</div>
					<div class="trusted-by__item">
						<img alt="Logo" class="trusted-by__logo" src="img/Webex_logo.jpg">
					</div>
					<div class="trusted-by__item trusted-by__item_md">
						<img alt="Logo" class="trusted-by__logo" src="img/gopuff.png">
					</div>
					<div class="trusted-by__item">
						<img alt="Logo" class="trusted-by__logo" src="img/Medialink_Logo.jpg">
					</div>
					<div class="trusted-by__item trusted-by__item_esm">
						<img alt="Logo" class="trusted-by__logo" src="img/wb-logo.png">
					</div>
					<div class="trusted-by__item trusted-by__item_md">
						<img alt="Logo" class="trusted-by__logo" src="img/Estee_Lauder_Logo.jpg">
					</div>
					<div class="trusted-by__item">
						<img alt="Logo" class="trusted-by__logo" src="img/duracell.png">
					</div>
					<div class="trusted-by__item">
						<img alt="Logo" class="trusted-by__logo" src="img/Webex_logo.jpg">
					</div>
					<div class="trusted-by__item trusted-by__item_md">
						<img alt="Logo" class="trusted-by__logo" src="img/gopuff.png">
					</div>
					<div class="trusted-by__item">
						<img alt="Logo" class="trusted-by__logo" src="img/Medialink_Logo.jpg">
					</div>
					<div class="trusted-by__item trusted-by__item_esm">
						<img alt="Logo" class="trusted-by__logo" src="img/wb-logo.png">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="advertise" class="sign-up sign-up_advertiser section-space" data-component=":intersection-observer:">
		<div class="container container_wide sign-up__container">
			<div class="sign-up__info">
				<h2 class="tg-section-title sign-up__title">Create campaign in under 5 minutes</h2>
				<div class="sign-up__msg tg-section-regular">We make campaign creation, tracking, editing and reporting intuitive and quick.</div>
				<a href="https://portal.adwayusa.com/signupadvertiser" class="btn btn_primary sign-up__btn">Sign Up as Advertiser</a>
			</div>
			<img alt="Learn, Graduate, Work" class="sign-up__img" src="img/admin-panel-demo.png">
		</div>
	</section>
	<section id="case-studies" class="case-studies section-space" data-component=":intersection-observer:">
		<div class="container container_wide case-studies__container">
			<h2 class="tg-section-title case-studies__title">Case studies:</h2>
			<div class="case-studies__list cases-grid">
				{
					cases.map(({ src, stack, name, desc, drawer, caseSrc }) => 
						<div class="case-study-card">
							<div class="case-study-card__img-area">
								<img alt="Learn, Graduate, Work" class="case-study-card__img" src={src}>
							</div>
							<div class="case-study-card__info">
								<div class="case-study-card__stack">{stack}</div>
								<div class="case-study-card__name">{name}</div>
								<div class="case-study-card__desc">{desc}</div>
							</div>
							<a href={caseSrc} data-fslightbox="cases" class="btn btn_primary case-study-card__btn" data-drawer-open={drawer}>Learn More</a>
						</div>)
				}
			</div>
		</div>
	</section>
	
	<section id="drive" class="sign-up sign-up_driver section-space" data-component=":intersection-observer:">
		<div class="container container_wide sign-up__container">
			<img alt="Driver" class="sign-up__img" src="img/driver.png">
			<div class="sign-up__info">
				<h2 class="tg-section-title sign-up__title">Drive with Adway</h2>
				<div class="sign-up__msg tg-section-regular">The more you drive, the more you earn. No wraps, toppers or hassle. Supercharge your income today. Download the app or apply here, now! </div>
				<a href="https://portal.adwayusa.com/signupdriver" class="btn btn_primary sign-up__btn">Sign up as Driver</a>
			</div>
		</div>
	</section>
	<section id="monetizing" class="monetizing section-space" data-component=":intersection-observer:">
		<div class="container container_wide monetizing__container">
			<h2 class="tg-section-title tg-section-title_margin">We make monetizing your ride easier than ever</h2>
			<div class="monetizing__text">
				<p>Take your date to dinner without showing how you pay for it!</p>
				<p>Use Adway projectors when you want to make money and store them in the trunk when they are not in use.</p>
			</div>
			<div class="pay-calc monetizing__calc">
				<div class="range">
					<div class="range__col range__col_hours">
						<div class="range__title">How long do you drive weekly ?</div>
						<div class="hours-wrapp">
							<div class="hours-wrapp__title">Hours</div>
							<div class="hours-wrapp__range">
								<input id="monetizing-hours" type="range" min="10" max="60" value="25" step="5" class="range-slider">
								<ul class="points">
									<li class="points__item" data-item="10">10</li>
									<li class="points__item" data-item="15">15</li>
									<li class="points__item" data-item="20">20</li>
									<li class="points__item" data-item="25">25</li>
									<li class="points__item" data-item="30">30</li>
									<li class="points__item" data-item="35">35</li>
									<li class="points__item" data-item="40">40</li>
									<li class="points__item" data-item="45">45</li>
									<li class="points__item" data-item="50">50</li>
									<li class="points__item" data-item="55">55</li>
									<li class="points__item" data-item="60">60</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="range__col range__col_summ">
						<div class="range__total">$125-$150</div>
						<p class="range__paragraph">per week</p>
						<p class="range__paragraph">without stickers, wraps, or hassle</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="technology" class="technology section-space">
		<div class="container container_wide technology__container">
			<h2 class="technology__title">How does it work</h2>
			<div class="technology__info">
				<div class="technology__msg tg-section-regular">Adway’s small and smart projectors are affixed to the side mirrors of rideshare and delivery cars, enabling Adway to dynamically serve static and video ads to the targeted areas in real time.</div>
			</div>
			<img alt="Technology" class="technology__img" src="img/car.gif">
		</div>
	</section>
	<section id="in-media" class="in-media section-space">
		<div class="container container_wide">
			<h2 class="tg-section-title tg-section-title_margin in-media__title">Adway in the Media:</h2>
			<div class="cases-grid in-media__body">
				{
					medias.map(item => <a href={item.href} target="_blank" class="media-card">
																<ImgWrap className='media-card__img img-wrap_cut'>
																	<img src={item.src} alt={item.title}>
																</ImgWrap>
																<div class="media-card__title">{item.title}</div>
															</a>)
				}
			</div>
		</div>
	</section>

	<div class="drawers" slot="drawers">
		{
			cases.map(({ drawer, caseSrc }) => <div class="case-drawer" data-drawer={drawer}>
														<div class="case-drawer__panel" data-elem="drawer.panel">
															<ImgWrap className='case-img case-drawer__img'>
																<img alt="Action Water" class="case-img__img" src={caseSrc}>
															</ImgWrap>
															<button class="close-btn case-drawer__close-btn" data-drawer-close={drawer}></button>
														</div>
												</div>)
		}
		<div class="drawer drawer_dialog drawer_error" data-drawer="subscription-error">
			<div class="drawer__panel" data-elem="drawer.panel">
				<div class="drawer__header">
					<div class="drawer__title">Error</div>
					<button class="close-btn close-btn_sm drawer__close-btn" data-drawer-close="subscription-error"></button>
				</div>
				<div class="drawer__body">
					Subscription failed.<br>
					Please try again later.<br>
					{"{{error-msg}}"}
				</div>
			</div>
		</div>
		<div class="drawer drawer_dialog drawer_success" data-drawer="subscription-success">
			<div class="drawer__panel" data-elem="drawer.panel">
				<div class="drawer__header">
					<div class="drawer__title">Success</div>
					<button class="close-btn close-btn_sm drawer__close-btn" data-drawer-close="subscription-success"></button>
				</div>
				<div class="drawer__body">
					Subscription successful!<br>You've been added to our mailing list.
				</div>
			</div>
		</div>
	</div>
</Layout>